.shop-category-section {
  height: 1200px;
  margin-bottom: 100px;
  .contanier {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    .shop-category-block {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      // background-color: red;
      .shop-category-header {
        height: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        .shop-head {
          font-size: 30px;
          color: #181818;
        }
      }
      .shop-collection {
        width: 100%;
        height: 95%;
        display: flex;
        flex-wrap: wrap;
        // padding: 20px 0;
        gap: 50px;
        .favorite-collection-section {
          width: 100%;
          height: 70%;
          margin: -10px 0;
          .favorite-collection {
            width: 100%;
            height: 100%;
            display: flex;
            padding: 0 10px;
            gap: 40px;
          }
        }
        .simple-collection-section {
          width: 100%;
          height: 30%;
          margin: -10px 0;
          .simple-collection-block {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0 25px;
          }
        }
      }
    }
  }
}
