@media (max-width: 1024px) {
  footer {
    // background-color: yellow;
    background-color: #181818;
    padding: 50px 0;
    .contanier {
      width: 90%;
      margin: 0 auto;
      .footer-block {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 30px;
        border-bottom: 3px solid #fff;
        .footer-content {
          // background-color: red;
          width: 25%;
          .foot-head {
            font-size: 20px;
            color: #fff;
          }
          .foot-list {
            width: 100%;
            .foot-item {
              padding: 5px 0;
              font-size: 15px;
              .foot-link {
                color: #fff;
              }
            }
          }
          .stay-block {
            margin-bottom: 50px;
            .foot-head {
              font-size: 20px;
            }
            .stay-link {
              font-size: 15px;
              color: #fff;
            }
          }
        }
      }
      .footer-final {
        margin-top: 20px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        .foot-icons {
          display: flex;
          align-items: center;
          gap: 15px;
          .foot-icon-link {
            color: #fff;
            font-size: 25px;
            padding: 8px 10px;
            border-radius: 50%;
            &:hover {
              background-color: #3b4047;
            }
          }
        }
        .foot-country {
          // background-color: red;
          .footer-btn {
            height: 100%;
            font-size: 20px;
            padding: 0 20px;
            cursor: pointer;
            font-weight: bold;
            background-color: #181818;
            color: #fff;
            border: 1px solid #fff;
            &:hover {
              border: 3px solid #fff;
            }
          }
        }
        .foot-copywrigth {
          width: 25%;
          padding: 0 0px;
          height: 100%;
          //   background-color: gold;
          color: #fff;
          .copywrigth-par {
            height: 100%;
            color: #fff;
            font-size: 15px;
            text-align: end;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  footer {
    background-color: #181818;
    // background-color: yellow;
    padding: 50px 0;
    .contanier {
      width: 90%;
      margin: 0 auto;
      .burger-footer-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .footer-content-final{
          .footer-content-final-text{
            color: #fff;
            width: 40%;
          }
        } 
      }
      .footer-block {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 30px;
        display: none;
        border-bottom: 3px solid #fff;
        .footer-content {
          // background-color: red;
          width: 25%;
          .foot-head {
            font-size: 20px;
            color: #fff;
          }
          .foot-list {
            width: 100%;
            .foot-item {
              padding: 5px 0;
              font-size: 15px;
              .foot-link {
                color: #fff;
              }
            }
          }
          .stay-block {
            margin-bottom: 50px;
            .foot-head {
              font-size: 20px;
            }
            .stay-link {
              font-size: 15px;
              color: #fff;
            }
          }
        }
      }
      .footer-final {
        margin-top: 20px;
        height: 50px;
        display: flex;
        display: none;
        justify-content: space-between;
        .foot-icons {
          display: flex;
          align-items: center;
          gap: 15px;
          .foot-icon-link {
            color: #fff;
            font-size: 25px;
            padding: 8px 10px;
            border-radius: 50%;
            &:hover {
              background-color: #3b4047;
            }
          }
        }
        .foot-country {
          // background-color: red;
          .footer-btn {
            height: 100%;
            font-size: 20px;
            padding: 0 20px;
            cursor: pointer;
            font-weight: bold;
            background-color: #181818;
            color: #fff;
            border: 1px solid #fff;
            &:hover {
              border: 3px solid #fff;
            }
          }
        }
        .foot-copywrigth {
          width: 25%;
          padding: 0 0px;
          height: 100%;
          // background-color: gold;
          color: #fff;
          .copywrigth-par {
            height: 100%;
            color: #fff;
            font-size: 15px;
            text-align: end;
          }
        }
      }
    }
  }
}

@media (max-width: 432px) {
  footer {
    // background-color: yellow;
    background-color: #181818;
    padding: 50px 0;
    .contanier {
      width: 90%;
      margin: 0 auto;
      .burger-footer-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        // background-color: red;
        .footer-accordion-item {
          width: 100%;
          // background-color: orange;
          .footer-accordion-text {
            width: 100%;
            display: flex;
            padding: 15px;
            cursor: pointer;
            font-size: 20px;
            justify-content: space-between;
            align-items: center;
            color: #fff;
          }
          .accordion-content {
            width: 100%;
            padding: 10px 5px;
            height: 300px;
            // background-color: green;
            .accordion-list {
              display: flex;
              justify-content: space-between;
              align-items: start;
              column-gap: 10px;
              flex-direction: column;
              flex-wrap: wrap;
              width: 100%;
              height: 100%;
              // background-color: yellow;
              .accordion-item {
                font-size: 12px;
                // background-color: red;
                width: 50%;
                font-weight: bold;
                // padding: 5px 0;
                .accordion-link {
                  color: #fff;
                  .accordion-icon {
                    width: 80px;
                    height: 70%;
                    padding: 5px 10px;
                    font-size: 35px;
                    // background-color: red;
                  }
                }
              }
            }
          }
          .stay-accordion {
            height: 50px;
          }
          .about-accordion {
            height: 250px;
          }
          .explore-accordion {
            height: 100px;
          }
        }
        .footer-button {
          width: 100%;
          // background-color: gray;
          height: 50px;
          border: 2px solid #fff;
          .footer-country {
            width: 100%;
            color: #fff;
            background-color: #181818;
            height: 100%;
            font-size: 20px;
            border: none;
          }
        }
        .footer-content-final {
          width: 100%;
          height: 140px;
          display: flex;
          flex-direction: column;
          // background-color: yellow;
          justify-content: start;
          align-items: start;
          .footer-content-final-icon {
            width: 100%;
            height: 50%;
            // background-color: #3b4047;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0px;
            .foot-icon-content {
              font-size: 35px;
              color: #fff;
            }
          }
          .footer-content-final-text {
            width: 100%;
            height: 50%;
            display: flex;
            align-items: center;
            line-height: 30px;
            color: #fff;
          }
        }
      }
      .footer-block {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 30px;
        display: none;
        border-bottom: 3px solid #fff;
        .footer-content {
          // background-color: red;
          width: 25%;
          .foot-head {
            font-size: 20px;
            color: #fff;
          }
          .foot-list {
            width: 100%;
            .foot-item {
              padding: 5px 0;
              font-size: 15px;
              .foot-link {
                color: #fff;
              }
            }
          }
          .stay-block {
            margin-bottom: 50px;
            .foot-head {
              font-size: 20px;
            }
            .stay-link {
              font-size: 15px;
              color: #fff;
            }
          }
        }
      }
      .footer-final {
        margin-top: 20px;
        height: 50px;
        display: flex;
        display: none;
        justify-content: space-between;
        .foot-icons {
          display: flex;
          align-items: center;
          gap: 15px;
          .foot-icon-link {
            color: #fff;
            font-size: 25px;
            padding: 8px 10px;
            border-radius: 50%;
            &:hover {
              background-color: #3b4047;
            }
          }
        }
        .foot-country {
          // background-color: red;
          .footer-btn {
            height: 100%;
            font-size: 20px;
            padding: 0 20px;
            cursor: pointer;
            font-weight: bold;
            background-color: #181818;
            color: #fff;
            border: 1px solid #fff;
            &:hover {
              border: 3px solid #fff;
            }
          }
        }
        .foot-copywrigth {
          width: 25%;
          padding: 0 0px;
          height: 100%;
          //   background-color: gold;
          .copywrigth-par {
            color: #fff;
            height: 100%;
            font-size: 15px;
            text-align: end;
          }
        }
      }
    }
  }
}

@media (max-width: 376px) {
  footer {
    // background-color: yellow;
    background-color: #181818;
    padding: 50px 0;
    .contanier {
      width: 90%;
      margin: 0 auto;
      .burger-footer-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        // background-color: red;
        .footer-accordion-item {
          width: 100%;
          // background-color: orange;
          .footer-accordion-text {
            width: 100%;
            display: flex;
            padding: 15px;
            cursor: pointer;
            font-size: 18px;
            justify-content: space-between;
            align-items: center;
            color: #fff;
          }
          .accordion-content {
            width: 100%;
            padding: 10px 5px;
            height: 300px;
            // background-color: green;
            .accordion-list {
              display: flex;
              justify-content: space-between;
              align-items: start;
              column-gap: 10px;
              flex-direction: column;
              flex-wrap: wrap;
              width: 100%;
              height: 100%;
              // background-color: yellow;
              .accordion-item {
                font-size: 12px;
                // background-color: red;
                width: 50%;
                font-weight: bold;
                // padding: 5px 0;
                .accordion-link {
                  color: #fff;
                  .accordion-icon {
                    width: 80px;
                    height: 70%;
                    padding: 5px 10px;
                    font-size: 35px;
                    // background-color: red;
                  }
                }
              }
            }
          }
          .stay-accordion {
            height: 50px;
          }
          .about-accordion {
            height: 250px;
          }
          .explore-accordion {
            height: 100px;
          }
        }
        .footer-button {
          width: 100%;
          // background-color: gray;
          height: 50px;
          border: 2px solid #fff;
          .footer-country {
            width: 100%;
            color: #fff;
            background-color: #181818;
            height: 100%;
            font-size: 20px;
            border: none;
          }
        }
        .footer-content-final {
          width: 100%;
          height: 140px;
          display: flex;
          flex-direction: column;
          // background-color: yellow;
          justify-content: start;
          align-items: start;
          .footer-content-final-icon {
            width: 100%;
            height: 50%;
            // background-color: #3b4047;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0px;
            .foot-icon-content {
              font-size: 25px;
              color: #fff;
            }
          }
          .footer-content-final-text {
            width: 100%;
            height: 50%;
            display: flex;
            font-size: 15px;
            align-items: center;
            line-height: 30px;
            color: #fff;
          }
        }
      }
      .footer-block {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 30px;
        display: none;
        border-bottom: 3px solid #fff;
        .footer-content {
          // background-color: red;
          width: 25%;
          .foot-head {
            font-size: 20px;
            color: #fff;
          }
          .foot-list {
            width: 100%;
            .foot-item {
              padding: 5px 0;
              font-size: 15px;
              .foot-link {
                color: #fff;
              }
            }
          }
          .stay-block {
            margin-bottom: 50px;
            .foot-head {
              font-size: 20px;
            }
            .stay-link {
              font-size: 15px;
              color: #fff;
            }
          }
        }
      }
      .footer-final {
        margin-top: 20px;
        height: 50px;
        display: flex;
        display: none;
        justify-content: space-between;
        .foot-icons {
          display: flex;
          align-items: center;
          gap: 15px;
          .foot-icon-link {
            color: #fff;
            font-size: 25px;
            padding: 8px 10px;
            border-radius: 50%;
            &:hover {
              background-color: #3b4047;
            }
          }
        }
        .foot-country {
          // background-color: red;
          .footer-btn {
            height: 100%;
            font-size: 20px;
            padding: 0 20px;
            cursor: pointer;
            font-weight: bold;
            background-color: #181818;
            color: #fff;
            border: 1px solid #fff;
            &:hover {
              border: 3px solid #fff;
            }
          }
        }
        .foot-copywrigth {
          width: 25%;
          padding: 0 0px;
          height: 100%;
          //   background-color: gold;
          color: #fff;
          .copywrigth-par {
            height: 100%;
            font-size: 15px;
            text-align: end;
          }
        }
      }
    }
  }
}
