body.modal-cart-product-active {
  overflow-y: hidden;
}

.cart-product-block {
  display: flex;
  width: 100%;
  padding: 20px 15px;
  height: 240px;
  // background-color: brown;
  border: 3px solid #e5e7eb;
  .cart-product-img {
    width: 25%;
    height: 100%;
    padding: 0 10px;
    img {
      width: 100%;
      height: 90%;
      object-fit: cover;
    }
  }
  .cart-product-describtion {
    width: 75%;
    height: 100%;
    display: flex;
    // background-color: blue;
    .cart-product-name {
      width: 80%;
      // padding: 15px;
      // background-color: red;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .cart-product-link {
        color: #121212;
        font-size: 18px;
      }
      .product-information {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
        // background-color: purple;
        .cart-product-par {
          font-size: 15px;
          font-weight: bold;
          color: #6c6c6c;
          .cart-product-span {
            color: #181818;
          }
        }
      }
      .btn-quantity {
        position: relative;
        width: 20%;
        padding: 8px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        .quantity-dropdown-block {
          position: absolute;
          width: 100%;
          background-color: #fff;
          top: 100%;
          left: 0;
          z-index: 100000;
          min-height: 250px;
          display: flex;
          flex-direction: column;
          padding: 10px 6px;
          justify-content: start;
          align-items: start;
          .qty-par {
            margin-bottom: 5px;
            font-size: 18px;
            font-weight: bold;
          }
          .qty-nav-list {
            width: 100%;
            // background-color: orange;
            display: flex;
            gap: 6px;
            flex-direction: column;
            align-items: start;
            .qty-item {
              // background-color: blueviolet;
              width: 100%;
              text-align: start;
              font-weight: bold;
              &:hover {
                background-color: red;
              }
            }
          }
        }
      }
    }
    .cart-product-price {
      width: 20%;
      // background-color: yellow;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 15px;
      .cart-product-price-par {
        font-size: 25px;
        color: #181818;
        font-weight: bold;
      }
      .cart-product-icon-block {
        display: flex;
        gap: 10px;
        .cart-product-icon {
          font-size: 35px;
          cursor: pointer;
          padding: 4px 5px;
          color: #181818;
          border-radius: 50%;
          &:hover {
            background-color: gray;
          }
        }
      }
    }
  }
}

.delete-cart-product-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 10000000;
  .overlay {
    width: 100vw;
    height: 100vh;
    inset: 0;
    position: fixed;
    z-index: 10000;
    background-color: rgba(49, 49, 49, 0.8);
  }
  .delete-cart-product-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 40%;
    background-color: #fff;
    z-index: 100000;
    padding: 18px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    justify-content: space-around;
    .questions-block {
      height: 10%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .questions-block-par {
        font-size: 18px;
        color: #181818;
      }
      .questions-block-icon {
        font-size: 35px;
        padding: 5px;
        border-radius: 50%;
        &:hover {
          background-color: #6c6c6c;
          color: #fff;
        }
      }
    }
    .product-description-block {
      width: 100%;
      height: 60%;
      .product-description-block-content {
        width: 100%;
        height: 100%;
        display: flex;
        border-radius: 5px;
        padding: 18px 15px;
        border: 3px solid #e5e7eb;
        .img-block {
          width: 40%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .product-description-block-content-info {
          width: 40%;
          padding: 0 10px;
          height: 100%;
          //   background-color: green;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .product-description-block-content-info-head {
            font-size: 15px;
            line-height: 20px;
          }
          .product-description-block-content-info-par {
            font-size: 15px;
            color: #181818;
            // background-color: yellow;
            .product-description-block-content-info-span {
              color: #6c6c6c;
            }
          }
        }
        .product-description-block-content-price {
          width: 20%;
          display: flex;
          justify-content: center;
          font-size: 20px;
          font-weight: bold;
          // background-color: blue;
        }
      }
    }
    .choose-button-block {
      width: 100%;
      height: 20%;
      // background-color: blue;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      .choose-button-block-remove {
        width: 50%;
        cursor: pointer;
        margin: 0 -10px;
        height: 60%;
        font-size: 18px;
        font-weight: bold;
        border: none;
        color: #fff;
        background-color: #181818;
      }
      .choose-button-block-cancel {
        width: 50%;
        cursor: pointer;

        height: 60%;
        border: none;
        color: #fff;
        background-color: #181818;
        margin: 0 -10px;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}

.update-cart-product-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 10000000;
  .overlay {
    width: 100vw;
    height: 100vh;
    inset: 0;
    position: fixed;
    z-index: 10000;
    background-color: rgba(49, 49, 49, 0.8);
  }
  .update-cart-product-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 40%;
    background-color: #fff;
    z-index: 100000;
    padding: 15px 18px;
    .update-cart-product-block {
      width: 100%;
      height: 100%;
      // background-color: red;
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: relative;
      .update-close-icon{
        right: 0;
        cursor: pointer;
        z-index: 1000;
        position: absolute;
        font-size: 35px;
      }
      .update-cart-product-id {
        font-size: 18px;
      }
      .update-cart-product-name {
        font-size: 30px;
        width: 80%;
      }
      .changeSizeGallery {
        width: 100%;
        // background-color: yellow;
        display: flex;
        gap: 40px;
        row-gap: 10px;
        flex-wrap: wrap;
        padding: 0 10px;
        .label-block {
          width: 16.6%;
          border: 2px solid #121212;
          height: 70px;
          margin: 0 -10px;
          .size-label {
            position: relative;
            display: flex;
            width: 100%;
            font-size: 18px;
            cursor: pointer;
            height: 100%;
            background-color: #fff;
            justify-content: center;
            align-items: center;
            #radio2 {
              // background-color: orange;
              position: absolute;
              width: 100%;
              height: 100%;
              z-index: -1;
            }
          }
        }
      }
      .update-btn {
        width: 100%;
        height: 50px;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        border: none;
        margin-top: 20px;
        background-color: #181818;
      }
    }
  }
}
